/* Variables */
:root {
    --border: 1px solid #000;
    --border-radius: 5px;
    --border-radius-small: 5px;
    --border-radius-large: 10px;
    --border-color: #000;
    --font-color: #000;
    --margin-top: 20px;
	--no-padding: 0px;
    --padding-20: 20px;
	--padding-correction: 0px 20px 0px 20px;
    --background-color: white;
	--box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	--no-box-shadow: none;
}

/* General */
body {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
  	justify-content: center;
	margin-bottom: 40px;
	padding: var(--padding-20);
	min-width: 200px;
}
h1 {
    font-size: xx-large;
    text-transform: uppercase;
	margin-top: 0px;
}
h2 {
    font-size: x-large;
}
a {
    font-weight: bold;
    color: var(--font-color);
}
div {
	background-color: var(--background-color);
    border-radius: var(--border-radius-large);
	padding: var(--padding-20);
}
img {
  	max-width: 40px;
  	max-height: 40px;
}

/* Sections */
.page {
    background-color:beige;
    border-radius: var(--border-radius-large);
	max-width: 1000px;
	width: 1000px;
	box-shadow: var(--box-shadow);
}
.header {
    text-align: center;
}
a.title {
	text-decoration: none;
}
.tagline {
    background-color: beige;
	padding: var(--no-padding);
    margin-top: -20px;
}
.primaryInput {
    position: relative;
    display: flex;
	margin-top: var(--margin-top);
	box-shadow: var(--box-shadow);
	padding: var(--no-padding);
}
.columnOne {
	padding: 0px 0px 0px 0px;
}
.columnTwo {
    margin-bottom: 10px;
    flex: 50%;
}
.columnTitle {
    display: flex;
	align-items: center;
	padding: var(--no-padding);
}
.columnSubtitle {
	padding: 0px 0px 20px 0px;
}
.columnForm {
	padding: var(--no-padding);
}
.columnDivider {
    background-color: #000;
    border: 2px solid #000;
    margin: 3% 0px 3% 0px;
	padding: var(--no-padding);
}
.disclaimer {
    background-color: #FFCCCB;
	border-radius: 0px;
    padding: 5px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	z-index: 1;
	left: 0;
}
.displayLights {
  	margin-top: var(--margin-top);
}
.lights {
	padding: var(--no-padding);
}
.light {
    padding: var(--no-pading);
	border: 2px solid #000;
	margin-bottom: 20px;
	box-shadow: var(--box-shadow);
}
.lightMain {
	display: flex;
  	align-items: center;
	padding-bottom: 0px;
}
.lightAuthor {
	text-align: right;
	font-style: italic;
	padding: var(--padding-correction);
}
.footerPage {
	margin-top: var(--margin-top);
	padding-top: 10px;
	margin-bottom: -30px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#om, #personoplysninger, #newPassword {
    display: none;
  	transition: opacity 0.6s linear;
  	max-width: 1066px;
}
#om.show, #personoplysninger.show, #newPassword.show {
    display: block;
  	transition: opacity 0.6s linear;
}
#payoff-right-bottom {
	margin-left: auto;
    margin-right: 20px;
	text-transform: uppercase;
}
#newPassword {
	margin-top: var(--margin-top);
}
.footer {
  	background-color: var(--background-color);
    padding: 1px;
    padding-left: 20px;
    margin-top: var(--margin-top);
    display: flex;
}
.footerElement {
    padding: 20px 00px 20px 0px;
    margin-right: 20px;
	box-shadow: var(--no-box-shadow);
}
.searchPage {
  	margin-top: var(--margin-top);
}
.searchBar {
	padding: var(--no-padding);
}
.formField {
	display: inline-block;
	padding: var(--no-padding);
	margin-right: 10px;
}
.searchResults {
	padding: var(--no-padding);
}
.navigationButton {
    width: 110px;
    background-color: #4CAF50;
	color: white;
	text-align: center;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
	font-size: small;
	box-shadow: var(--box-shadow);
}
.navigationButton:hover {
	background-color: #45a049;
}
.breadcrumbs {
	display: flex;
	margin-top: var(--margin-top);
    margin-bottom: 10px;
}

/* Forms */
input[type=text], input[type=password], input[type=search] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    min-width: 80px;
    background-color: #4CAF50;
    color: white;
    padding: 13px;
    margin-top: 10px;
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

/* Responsive */
@media only screen and (max-width: 900px) {
	.primaryInput {
		display: inherit;
	}
  	.columnDivider {
		margin: 0px 3% 0px 3%;
	}
}